html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

:root {
    --color-primary: #257470;
}


.nav-bar {
    background-color: var(--color-primary);
}

.card {
    --bs-card-bg: #ffffff99;
}

body[data-bs-theme=dark] .card {
    --bs-card-bg: #212529c4;
}

[data-bs-theme=dark] {
    --bs-body-bg: #161a23;
}

.hide {
    display: none !important;
    opacity: 0;
}

.danger {
    color: var(--bs-danger) !important;
    cursor: pointer;
}

.hiding {
    animation: Hide 1s ease;
}

li .large {
    animation: slide-text 7s ease-in-out infinite; /* Aplica a animação ao texto */
}

main,
footer,
header {
    transition: .6s;
}

.modal-open main,
.modal-open footer,
.modal-open header {
    filter: blur(.2rem);
}

@keyframes Hiding {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes slide-text {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


input {
   background: var(--bs-card-bg);
   backdrop-filter: blur(.5rem);
}