@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="player">
    <ol class="player-list" id="nextList">
    </ol>

    <div class="player-music card card-light glow">
        <div class="actual">
            <img id="img" />
            <h3 id="name">Teste</h3>
            <ul id="artists"><li>Juan</li> <li>MC Junim</li> <li> Douglas S</li></ul>
        </div>

        <div class="timer">
            <i id="actual">4:32</i>
            <input id="time" data-slider-id="time" type="text" data-slider-min="0" data-slider-max="100" data-slider-enabled="false"  />
            <i id="total">6:00</i>
        </div>
    </div>
</div>

<div class="card glow preview hide">
    <a class="spotify" target="_blank">
        <img src="https://i.scdn.co/image/ab67616d00001e021e2a7b84b8a20e05116ae654" width="50" />
    </a>
    <div class="content">
        <h5 class="name">Baile Da Roosevelt (Pam Pararam)</h5>
        <ul id="artists">
            <li class="artist">Juan</li>
            <li class="artist">MC Junim</li>
            <li class="artist"> Douglas S</li>
        </ul>
    </div>
    <div class="commands">
    </div>
</div>

@section Modals{
    <div class="modal" tabindex="-1" role="dialog" id="modalSearch">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar musica</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" id="schKey" />

                    <ol class="search-list" id="schResult">
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Adicionar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <link rel="stylesheet" href="~/css/Pages/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-slider/css/bootstrap-slider.css" asp-append-version="true" />
    <script type="text/javascript" src="~/lib/bootstrap-slider/bootstrap-slider.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/moment.js/moment.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Pages/Index.js" asp-append-version="true"></script>
}