@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="player">
    <ol class="player-list" id="nextList">
    </ol>

    <div class="player-music card card-light">
        <div class="actual">
            <img id="img" />
            <h3 id="name">Teste</h3>
            <ul id="artists"><li>Juan</li> <li>MC Junim</li> <li> Douglas S</li></ul>
        </div>
    </div>
</div>

@*<div class="preview">
    <img src="https://i.scdn.co/image/ab67616d00001e021e2a7b84b8a20e05116ae654" width="50" />
    <div>

    </div>
</div>*@


@section Scripts{
    <link rel="stylesheet" href="~/css/Pages/Index.css" asp-append-version="true" />
    <script type="text/javascript" src="@Url.Content("js/Pages/Index.js")" asp-append-version="true"></script>
}   