@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="player">
    <div class="player-list">
        <button class="card" onclick="modalSearch.modal('show')">
            <i class="fa-solid fa-plus fa-beat-fade"></i>
        </button>
        <ol id="nextList">
            <li class="music" data-spotify="0CwCKS7Wn2Bef6mugpIJnx">
                <div class="banner">
                    <svg class="svg-inline--fa fa-pause" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pause" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M272 63.1l-32 0c-26.51 0-48 21.49-48 47.1v288c0 26.51 21.49 48 48 48L272 448c26.51 0 48-21.49 48-48v-288C320 85.49 298.5 63.1 272 63.1zM80 63.1l-32 0c-26.51 0-48 21.49-48 48v288C0 426.5 21.49 448 48 448l32 0c26.51 0 48-21.49 48-48v-288C128 85.49 106.5 63.1 80 63.1z"></path></svg><!-- <i class="fa-solid fa-pause"></i> Font Awesome fontawesome.com --><svg class="svg-inline--fa fa-play" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M361 215C375.3 223.8 384 239.3 384 256C384 272.7 375.3 288.2 361 296.1L73.03 472.1C58.21 482 39.66 482.4 24.52 473.9C9.377 465.4 0 449.4 0 432V80C0 62.64 9.377 46.63 24.52 38.13C39.66 29.64 58.21 29.99 73.03 39.04L361 215z"></path></svg><!-- <i class="fa-solid fa-play "></i> Font Awesome fontawesome.com --><img class="banner" src="https://i.scdn.co/image/ab67616d00001e024393c6cb7c985b7d5dcef374">
                </div>
                <div class="text">
                    <h5>Teste</h5>
                    <ul id="artists">
                        <li class="artist">Testando</li>
                        <li class="artist">Tester</li>
                        <li class="artist">Testado</li>
                    </ul>
                </div>
            </li>
        </ol>
    </div>

    <div class="player-music card card-light glow">
        <div class="actual">
            <img id="img" />
            <h3 id="name">Teste</h3>
            <ul id="artists"><li>Juan</li> <li>MC Junim</li> <li> Douglas S</li></ul>
        </div>

        <div class="timer">
            <i id="actual">4:32</i>
            <input id="time" data-slider-id="time" type="text" data-slider-min="0" data-slider-max="100" data-slider-enabled="false" />
            <i id="total">6:00</i>
        </div>
        <div class="commands">
            <i class="fa-solid fa-forward fa-2xl" onclick="voteSkip()"></i>
        </div>
    </div>
</div>

<div class="card glow preview hide">
    <a class="spotify" target="_blank">
        <img src="https://i.scdn.co/image/ab67616d00001e021e2a7b84b8a20e05116ae654" width="50" />
    </a>
    <div class="content">
        <h5 class="name">Baile Da Roosevelt (Pam Pararam)</h5>
        <ul id="artists">
            <li class="artist">Juan</li>
            <li class="artist">MC Junim</li>
            <li class="artist"> Douglas S</li>
        </ul>
    </div>
    <div class="commands">
    </div>
</div>

@section Modals{
    <div class="modal" tabindex="-1" role="dialog" id="modalSearch">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar musica</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="input-group has-validation">
                            <input type="text" class="form-control card" id="schKey" aria-describedby="inputGroupPrepend" required>
                            <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                    </div>
                    <ol class="search-list" id="schResult">
                    </ol>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Adicionar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <link rel="stylesheet" href="~/css/Pages/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-slider/css/bootstrap-slider.css" asp-append-version="true" />
    <script type="text/javascript" src="~/lib/bootstrap-slider/bootstrap-slider.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/moment.js/moment.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Pages/Index.js" asp-append-version="true"></script>
}