@page
@model LoginModel
@{
    ViewData["Title"] = "Request Access";
}

<h1>Logar em sua conta</h1>

<p>
    Várias pessoas já estão usando nossa plataforma para deixar suas festas mais divertidas, vai ficar de fora ?
</p>

<a class="button-login"><i class="fa-brands fa-google"></i> Logar com o Google.</a>

@section Scripts{
    <link rel="stylesheet" href="~/css/Pages/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/brands.min.css" />
    <script src="~/lib/font-awesome/js/brands.min.js"></script>
}   