body {
}

.player {
    display: inline-flex;
}

.player-music {
    padding: 1rem;
    width: 20rem;
    text-align: center;
    margin: 1rem 2.5rem;
}

    .player-music .actual img {
        width: 15rem;
        margin: 1.5rem .0rem;
        border-radius: 1rem;
        max-width: 100%;
    }

#artists {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

    #artists li.artist {
        width: max-content;
        margin: 0;
        padding: 0;
        color: var(--bs-tertiary-color);
    }

        #artists li.artist:not(:last-child)::after {
            content: ", ";
            padding-right: 4px;
        }

.player-list {
    display: inline-grid;
    max-height: 35rem;
    max-width: 24rem;
    overflow: hidden scroll;
}

    .player-list .text {
        overflow: hidden;
    }

    .player-list .artist {
        font-size: .75rem;
    }

    .player-list ol {
        margin: 0;
        padding: 2.25rem 0 0 0;
    }

        .player-list ol .music:first-child::before {
            content: "1°";
            padding: .25rem;
            width: fit-content;
            height: fit-content;
        }

ol .music {
    display: inline-flex;
    min-width: 100%;
    padding: .3rem .25rem .3rem 0;
    flex-direction: row;
}

    ol .music:hover {
        cursor: pointer;
        background: var(--bs-secondary-bg);
        border-radius: .4rem;
    }

    ol .music h5 {
        width: fit-content;
        margin: 0;
        padding: 0;
        font-size: .95rem;
        white-space: nowrap;
    }

    ol .music ul.artists {
        font-size: .65rem;
    }

    ol .music img.banner {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 .5rem;
        border-radius: .2rem;
    }


.banner {
    position: relative;
    display: inline-block;
}

    .banner .svg-inline--fa {
        position: absolute;
        top: 25%;
        left: 35%;
        z-index: 1;
        color: white;
        font-size: 25px;
    }

    .banner img {
        display: block;
        width: 100%;
        height: auto;
    }

.fa-pause {
    display: none;
}

.fa-play {
    display: none;
}

.preview {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 40rem;
    padding: .4rem;
    text-align: left;
    margin: 0 0 1rem;
    z-index: 100;
    backdrop-filter: blur(5px);
    display: inline-flex;
    flex-direction: row;
    box-shadow: 1px -8px 116px -29px rgba(0,0,0,0.75);
    animation: showing .15s cubic-bezier(1, -0.01, 1, 1);
}

    .preview h5 {
        font-size: 1rem;
        margin: 0;
    }

    .preview .artist {
        font-size: .8rem;
    }

    .preview img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 15%;
    }

    .preview .content {
        margin: 0 0 0 .5rem;
    }


.player-music:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(.8);
    filter: blur(6vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 150% 300%;
    animation: animateGlow 9s ease infinite;
}

.commands {
    text-align: center;
    width: 100%;
}

    .commands .fa-forward {
        display: block;
        margin: 1.75rem auto;
        width: auto;
        padding: 1rem;
        height: 2.25rem;
        border-radius: 10rem;
    }

        .commands .fa-forward:hover {
            cursor: pointer;
        }

.search-list {
    padding: 0;
}

    .search-list .fa-plus {
        padding: .8rem .75rem;
    }

    .search-list img.banner {
        margin: 0 .5rem 0 0 !important;
    }

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.timer i {
    font-size: var(--bs-body-font-size);
    font-family: var(--bs-body-font-family);
    font-weight: var(--bs-body-font-weight);
    margin: 0 .5rem;
    padding: 0;
    color: var(--bs-heading-color);
}

    .timer i:first-child {
        margin: 0 .25rem 0 0;
    }

    .timer i:last-child {
        margin: 0 0 0 .25rem;
    }

.timer {
    display: inline-flex;
    margin-top: .5rem;
}

#time .slider-selection {
    background: var(--color-primary);
}

#time .slider-track {
    background: var(--bs-card-bg);
}

@keyframes showing {
    0% {
        transform: scale(.25) translate(50%,0);
        filter: blur(50px);
        opacity: 0;
    }

    50% {
        transform: scale(.75) translate(0,0);
        filter: blur(0);
        opacity: .25;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


button.card {
    align-items: center;
    margin: .25rem;
    backdrop-filter: blur(.15rem);
    width: 22rem;
    position: absolute;
    z-index: 1;
}

    button.card:hover {
        border-color: var(--color-primary);
        transition: .3s
    }

    button.card .svg-inline--fa {
        margin: .25rem;
    }
