body {
}

.player {
    display: inline-flex;
}

.player-music {
    padding: 1rem;
    width: 20rem;
    text-align: center;
    margin: 1rem 2.5rem;
}

    .player-music .actual img {
        width: 14rem;
        height: 14rem;
        margin: 1.5rem .0rem;
        border-radius: 1rem;
    }

#artists {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

    #artists li.artist {
        width: max-content;
        margin: 0;
        padding: 0;
        color: var(--bs-tertiary-color);
    }

        #artists li.artist:not(:last-child)::after {
            content: ", ";
            padding-right: 4px;
        }

.player-list {
    display: inline-grid;
    overflow-y: scroll;
    max-height: 35rem;
}

    .player-list .music-list {
        display: inline-flex;
        min-width: 100%;
        padding: .5rem;
        flex-direction: row;
    }

        .player-list .music-list:hover {
            cursor: pointer;
            background: var(--bs-secondary-bg);
            border-radius: .4rem;
        }

        .player-list .music-list h5 {
            width: fit-content;
            margin: 0;
            font-size: 1rem;
            white-space: nowrap;
        }

        .player-list .music-list ul.artists {
            font-size: .65rem;
        }

        .player-list .music-list img.banner {
            width: 3rem;
            height: 3rem;
            margin: 0 .5rem;
            border-radius: .2rem;
        }


.banner {
    position: relative;
    display: inline-block;
}

    .banner .svg-inline--fa {
        position: absolute;
        top: 25%;
        left: 35%;
        z-index: 1;
        color: white;
        font-size: 25px;
    }

    .banner img {
        display: block;
        width: 100%;
        height: auto;
    }

.fa-pause {
    display: none;
}

.fa-play {
    display: none;
}


.preview {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 35rem;
    background-color: var(--color-primary);
    padding: .3rem;
    text-align: left;
    border-radius: 5%;
    margin: 0 0 1rem;
    z-index: 100;
}

    .preview img {
        width: 4rem;
        height: 4rem;
        border-radius: 15%;
    }
