<link rel="stylesheet" href="~/css/Pages/Shared/LoadingModal.css" asp-append-version="true" />

<div class="modal" tabindex="-1" role="dialog" id="modalLoading">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>
        </div>
    </div>
</div>
